<app-form-page-wrapper
  titleNew="Crear Nueva Ciudad"
  titleEdit="Editar Ciudad"
  [contextText]="contextText()"
  subtitle="Complete los datos solicitados de la ciudad."
  breadcrumbLabel="Base de Datos de Ciudades"
  breadcrumbRoute="/database/location/cities"
  [isEditMode]="isEditMode()"
  [isLoading]="isLoading()"
  [showSkeleton]="!form.dirty"
  [isFormInvalid]="form.invalid" [globalErrors]="globalErrors()" 
  (onSave)="onSave()"
  (onCancel)="onCancel()">

  <app-dynamic-form 
    [config]="formConfig" 
    [formGroup]="form"
    [isEditMode]="isEditMode()">
  </app-dynamic-form>

</app-form-page-wrapper>
