<app-modal [isOpen]="isOpen" (close)="onClose()" className="max-w-[600px] w-full m-4">

  <div class="relative w-full p-6 bg-white rounded-3xl dark:bg-gray-900 lg:p-8 flex flex-col gap-4">
    <app-title  type="secondary" title="Ajuste Manual de Consecutivo" subtitle="Configure el nuevo valor para el minutario anual. Esta acción requiere credenciales de seguridad."></app-title>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div class="grid grid-cols-2 gap-3">
        <app-listbox formControlName="anio" [options]="yearOptions" [searchable]="false" placeholder="Seleccione año" label="Año Fiscal"></app-listbox>
        <app-listbox formControlName="tipo" [options]="tipoOptions" [searchable]="false" placeholder="Seleccione tipo" label="Tipo Documento"></app-listbox>
      </div>

      <div class="grid grid-cols-2 gap-3">
        <app-listbox formControlName="scope" [options]="scopeOptions" [searchable]="false" placeholder="Seleccione alcance" label="Alcance del Ajuste">
        </app-listbox>

        @if (formGroup.get('scope')?.value === 'specific') {
          <app-listbox formControlName="areaId" [options]="areaOptions" [searchable]="true" placeholder="-- Seleccionar Área --" label="Área Organizacional"></app-listbox>
        }
      </div>

      <control type="number" label="Nuevo Número Consecutivo (Folio)" formControlName="nuevo_valor" placeholder="Ej: 450"></control>

      <div class="border-t border-gray-100 dark:border-gray-800 pt-3">
        <control type="password" label="Contraseña Súper Administrador" formControlName="admin_password" placeholder="Ingrese su clave para confirmar"></control>
      </div>

      <!-- Botones de Acción -->
      <div class="flex items-center gap-3 justify-end pt-4 border-t border-gray-100 dark:border-gray-800">
        <action-button type="button" variant="outline" label="Cancelar"       (clicked)="onClose()"></action-button>
        <action-button type="submit" variant="primary" label="Aplicar Cambio" [disabled]="formGroup.invalid || isAdjusting" [loading]="isAdjusting"></action-button>
      </div>
    </form>
  </div>
</app-modal>
