<app-form-page-wrapper
  titleNew="Registrar Nuevo Rol"
  titleEdit="Editar Rol del Sistema"
  [contextText]="contextText()"
  subtitle="Defina el nombre del rol y una descripción de sus facultades de acceso."
  breadcrumbLabel="Roles del Sistema"
  [breadcrumbRoute]="controllerConfig.mainRoute"
  [isEditMode]="isEditMode()"
  [isLoading]="isLoading()"
  [showSkeleton]="!form.dirty && isEditMode()"
  [isFormInvalid]="form.invalid" [globalErrors]="globalErrors()"
  (onSave)="onSave()"
  (onCancel)="onCancel()">

  <app-dynamic-form
    [config]="controllerConfig.formConfig"
    [formGroup]="form"
    [isEditMode]="isEditMode()">
  </app-dynamic-form>

</app-form-page-wrapper>
