<app-master-wrapper 
  title="Catálogo de Tipos de Documento" 
  subtitle="Consulta y gestiona las clasificaciones de tipos de documentos oficiales del sistema."
  icon="📄" 
  [layoutSpan]="{ master: 7, detail: 5 }"
  [serverError]="serverError()"
  searchPlaceholder="Buscar por código o nombre descriptivo..."
  (onSearch)="filtrar($event)"
  (onRefresh)="refresh()"
  (onSync)="sync()"
  (onNew)="nuevo()">
  
  <div master class="h-full">
    <app-data-table 
      [data]="filteredItems()" 
      [columns]="pageConfig.tableColumns"
      [selectedItem]="selectedItem()"
      [isLoading]="isLoading()"
      (onRowSelect)="select($event)"
      (onEdit)="edit($event)"
      (onDelete)="delete($event)">
    </app-data-table>
  </div>

  <div detail class="h-full flex flex-col">
    @if (selectedItem()) {
      <app-detail-viewer 
        [data]="selectedItem()"
        [headerConfig]="pageConfig.detailHeader"
        [fields]="pageConfig.detailFields">
      </app-detail-viewer>
    } @else {
      <app-dismiss-areacard
        title="Ningún tipo seleccionado"
        description="Por favor, elija un tipo de documento de la lista izquierda para visualizar su información detallada de configuración."
        iconType="users">
      </app-dismiss-areacard>
    }
  </div>

</app-master-wrapper>
