<div class="grid grid-cols-1 lg:grid-cols-12 gap-6 w-full">
  <!-- Columna Izquierda: Editor Principal -->
  <div class="lg:col-span-6 flex flex-col gap-3">
    <ng-content select="[editor-header]"></ng-content>
    
    <!-- Editor de Texto Enriquecido del Cuerpo -->
    <div class="flex flex-col gap-1.5">
      <app-tinymce-editor
        id="document-body-textarea"
        [ngModel]="cuerpo()"
        (ngModelChange)="cuerpo.set($event)"
        [ngModelOptions]="{standalone: true}"
        placeholder="Escriba el cuerpo del documento aquí. Puede usar formato y botones de inyección..."
      ></app-tinymce-editor>
    </div>
  </div>

  <!-- Columna Derecha: Panel de Campos Dinámicos / Variables -->
  <app-dynamic-fields-panel
    class="lg:col-span-6 flex flex-col h-full"
    [activeAreaCustomFields]="activeAreaCustomFields()"
    [(personalFieldValues)]="personalFieldValues"
    (dictionaryChange)="onDictionaryChange($event)"
    (injectTag)="handleInjectTag($event)"
    (onAddCustomField)="onAddCustomField.emit($event)">
  </app-dynamic-fields-panel>
</div>


