<app-form-page-wrapper
  titleNew="Registrar Usuario"
  titleEdit="Editar Usuario"
  [contextText]="contextText()"
  subtitle="Complete los campos requeridos para configurar las credenciales, rol y vinculación institucional del usuario."
  breadcrumbLabel="Control de Usuarios"
  [breadcrumbRoute]="controllerConfig.mainRoute"
  [isEditMode]="isEditMode()"
  [isLoading]="isLoading()"
  [showSkeleton]="!form.dirty && isEditMode()"
  [isFormInvalid]="form.invalid" 
  (onSave)="onSave()"
  (onCancel)="onCancel()">

  <app-dynamic-form 
    [config]="controllerConfig.formConfig" 
    [formGroup]="form"
    [isEditMode]="isEditMode()">
  </app-dynamic-form>

</app-form-page-wrapper>
