<app-form-page-wrapper
  titleNew="Crear Nuevo País"
  titleEdit="Editar Registro de País"
  subtitle="Completa los campos a continuación para guardar el país en la base de datos."
  breadcrumbLabel="Catálogo de Países"
  breadcrumbRoute="/database/location/countries"
  [isEditMode]="isEditMode()"
  [isLoading]="isLoading()"
  [showSkeleton]="!form.dirty"
  [isFormInvalid]="false" 
  (onSave)="onSave()"
  (onCancel)="onCancel()">

  <!-- EL MOTOR RENDERIZADOR HACE LA MAGIA POR DENTRO -->
  <app-dynamic-form 
    [config]="formConfig" 
    [formGroup]="form"
    [isEditMode]="isEditMode()">
  </app-dynamic-form>

</app-form-page-wrapper>
