<div class="mb-6 overflow-x-auto pb-2 flex gap-3 scrollbar-hide">
  @if (bandejas.length === 0 && !isLoading) {
    <div class="text-sm text-gray-500 italic py-2 bg-gray-50 w-full text-center rounded-xl border border-dashed border-gray-200">
      No hay bandejas activas para esta adscripción.
    </div>
  } @else {
    @for (bandeja of bandejas; track $index) {
      <button 
        (click)="bandejaChange.emit(bandeja.name)"
        [class]="selectedBandeja === bandeja.name ? 'bg-[#691C32] text-white shadow-lg scale-102 border-transparent' : 'bg-white border-gray-200 text-gray-700 hover:bg-gray-50 hover:text-[#691C32]'"
        class="px-5 py-3 rounded-2xl border text-sm font-bold transition-all duration-300 flex items-center gap-3 whitespace-nowrap active:scale-95">
        <span>{{ bandeja.name }}</span>
        <span 
          [class]="selectedBandeja === bandeja.name ? 'bg-[#BC955C] text-white' : 'bg-gray-100 text-gray-600'"
          class="px-2.5 py-0.5 rounded-full text-xs font-extrabold transition-all duration-300">
          {{ bandeja.count }}
        </span>
      </button>
    }
  }
</div>