<table class="w-full text-left border-collapse">
  <thead class="bg-[#691C32] text-white">
    <tr>
      <th class="p-3 text-xs font-bold uppercase text-center">#</th>
      <th class="p-3 text-xs font-bold uppercase text-center">Fecha</th>
      <th class="p-3 text-xs font-bold uppercase text-center">Tema</th>
      <th class="p-3 text-xs font-bold uppercase text-center">Asunto</th>
      <th class="p-3 text-xs font-bold uppercase text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td class="p-3 text-xs font-bold uppercase text-center"> 1                              </td>
       <td class="p-3 text-xs font-bold uppercase text-center">12/May                          </td>
       <td class="p-3 text-xs font-bold uppercase text-center">FEC                             </td>
       <td class="p-3 text-xs font-bold uppercase text-center">Solicitud de validación de datos</td>
       <td class="p-3 text-xs font-bold uppercase text-center">                                </td>
    </tr>
  </tbody>
</table>