<app-form-page-wrapper
  titleNew="Crear Nuevo Tipo de Documento"
  titleEdit="Editar Tipo de Documento"
  subtitle="Completa los campos a continuación para configurar este tipo de documento."
  breadcrumbLabel="Tipos de Documento"
  breadcrumbRoute="/database/security/document-types"
  [isEditMode]="isEditMode()"
  [isLoading]="isLoading()"
  [showSkeleton]="!form.dirty"
  [isFormInvalid]="false" 
  (onSave)="onSave()"
  (onCancel)="onCancel()">

  <app-dynamic-form 
    [config]="formConfig" 
    [formGroup]="form"
    [isEditMode]="isEditMode()">
  </app-dynamic-form>

</app-form-page-wrapper>
